body {
	margin-top: 70px;
}

img.image {
	object-fit: cover;
	height: 300px; 
    width: 400px; 
}

.imageContainer {
	margin-bottom: 30px;
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}


/*navbar items*/

.navbar-inverse {
	background: #2c3e50;
}


.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #c5cddb;
}

.navbar-inverse .navbar-nav>.active>a {
	background: #212f3d;
}

.navbar-inverse .navbar-nav>.active>a:hover {
	color: #c5cddb;
}